KAFKA_BROKERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8085
HIDDEN_SERVICE_HOST=http://localhost:6767
PRICE_VP_SERVICE_HOST=http://localhost:6868
PRICE_CP_SERVICE_HOST=http://localhost:6870
HIDDEN_PROVIDER_HOST=http://localhost:6871
DASHBOARD_HOST=http://localhost:8000
PRICE_CLIENT_HOST=http://localhost:8001
PARTNER_CLIENT_HOST=http://localhost:8002
HIDDEN_CLIENT_HOST=http://localhost:8003
HIDDEN_ADMIN_HOST=http://localhost:8004
ORG_ADMIN_HOST=http://localhost:8005
CLIENT_SECRET=HIDDEN
CLIENT_ID=bff
REDIRECT_URL=http://localhost:8080/auth/callback
REALM_URL=HIDDEN
DOMAIN=localhost
PARTNEHIDDEN_SERVICE_HOST=http://localhost:6868
USER_SERVICE_URL=http://localhost:8765

OPENFGA_API_URL=https://openfga.HIDDEN.com
OPENFGA_API_TOKEN=HIDDEN
OPENFGA_STORE_ID=HIDDEN
OPENFGA_MODEL_ID=HIDDEN

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

HIDDEN_MARGIN_LEGACY_MODE=true